<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <customErrors mode="Off"/>
    <authentication mode="Forms">
      <forms defaultUrl="Default.aspx" loginUrl="Default.aspx"/>
    </authentication>
    <sessionState timeout="60"/>
    <pages clientIDMode="Static"/>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="1048576"/>
  </system.web>
  <connectionStrings/>
  <appSettings>
    <add key="website" value="https://new.edunews.com"/>
    <add key="path" value="https://myaccount.edunews.com/contents/"/>
    <add key="PayTM_mode" value="live"/>
    <add key="PayTM_returnurl_Live" value="https://myaccount.edunews.com/institution-payment-response"/>
    <add key="PayTM_returnurl_Local" value="http://localhost:62271/institution-payment-response"/>
    <add key="PayTM_mid_test" value="qeLuLt14344221667278"/>
    <add key="PayTM_key_test" value="y2w%yJW3r%9aGphh"/>
    <add key="PayTM_website_test" value="WEBSTAGING"/>
    <add key="PayTM_channelid_test" value="WEB"/>
    <add key="PayTM_industrytype_test" value="Retail"/>
    <add key="PayTM_mid_live" value="DHoEut40762046222759"/>
    <add key="PayTM_key_live" value="Xej2x9C!dn2cYY_d"/>
    <add key="PayTM_website_live" value="DEFAULT"/>
    <add key="PayTM_channelid_live" value="WEB"/>
    <add key="PayTM_industrytype_live" value="Retail"/>
  </appSettings>
</configuration>