
.x-axis .tick {
    stroke: black;
    opacity: 0.25 !important;
}

    .x-axis .tick line {
        stroke: black;
        opacity: 0 !important;
    }

.y-axis .tick:first-child {
    stroke: black;
    opacity: 0 !important;
}

.x-axis path {
    stroke-width: 2 !important;
    /* opacity: .75; */
}

.y-axis .tick {
    stroke: black;
    opacity: 0.25 !important;
}

    .y-axis .tick:first-child {
        stroke: black;
    }

.y-axis path {
    stroke-width: 0;
    opacity: 0 !important;
}

.y-axis .tick text {
    font-size: 12px;
}

.x-axis .tick text {
    font-size: 12px;
}

.js-report-sparkline {
    width: 708px;
    height: 250px;
    margin: 50px auto;
    font-family: "Proxima Nova", sans-serif;
    position: relative;
}

    .js-report-sparkline * {
        box-sizing: border-box;
    }

    .js-report-sparkline path {
        stroke-width: 3;
        fill: none;
    }

        .js-report-sparkline path.area {
            stroke-width: 0;
            fill: red;
        }

    .js-report-sparkline .point {
        stroke-width: 2;
        transition: all 0.3s;
        opacity: 0;
    }

        .js-report-sparkline .point.end {
            opacity: 1;
        }

    .js-report-sparkline .bar-rect {
        fill: transparent;
        stroke: none;
    }

    .js-report-sparkline .point.hover {
        stroke-width: 7;
        opacity: 1;
    }

    .js-report-sparkline .point.end.hover {
        stroke-width: 5;
        opacity: 1;
    }

    .js-report-sparkline .chart-container {
        position: relative;
    }

    .js-report-sparkline .chart-tooltip {
        position: absolute;
        background: white;
        color: #5a5a5a;
        left: 0;
        background: lightgrey;
        /* display: none; */
        padding: 6px 8px 5px 8px;
        font-size: 12px;
        font-weight: 600;
        border-radius: 3px;
        margin-left: -8px;
        opacity: 0;
        -webkit-transition: 0.25s;
    }

        .js-report-sparkline .chart-tooltip .title {
            z-index: 3;
            text-transform: uppercase;
            font-size: 13px;
        }

        .js-report-sparkline .chart-tooltip.hover {
            margin-top: -10px;
            opacity: 1;
        }

        .js-report-sparkline .chart-tooltip:after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            width: 0;
            height: 0;
            border: 5px solid transparent;
            border-top: 5px solid black;
        }

    .js-report-sparkline .bullet {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        display: block;
        position: absolute;
        right: 5px;
        top: 13px;
    }
